// 不换行
@mixin no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin no-wrap-lines($lines) {
    display: -webkit-box;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    word-break: break-all;  
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: $lines;
}

// 扩展点击区域
@mixin extend-click($padding) {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -$padding;
        left: -$padding;
        right: -$padding;
        bottom: -$padding;
    }
}

// 透明度
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

//定义media-queries的最小最大宽度
@mixin screen-min ($res-min) {
    @media screen and ( min-width: $res-min ) {
        @content;
    }
}

@mixin screen ($res-min, $res-max) {
    @media screen and ( min-width: $res-min ) and ( max-width: $res-max ) {
        @content;
    }
}

@mixin screen-max ($res-max) {
    @media screen and ( max-width: $res-max ) {
        @content;
    }
}
