// 颜色定义规范
$color: (
    default: #fff,
    background: #fff,
    shadow: rgba(0, 0, 0, 0.8)
);


// 字体定义规范
$font: (
    default: "Microsoft YaHei"
);


$fontSize: (
    default: 24px,
    small: 20px,
    large: 28px,
    large-x: 32px
);
